---
import Link from '../../components/Link.astro'
import BaseLayout from '../../layouts/BaseLayout.astro'
import type { CollectionEntry } from 'astro:content'
import { getCollection } from 'astro:content'
import FormattedDate from '../../components/FormattedDate.astro'

const collection = (
	await getCollection(
		'blog',
		({ data }: CollectionEntry<'blog'>) =>
			data.draft !== true || import.meta.env.DEV
	)
).map((post: CollectionEntry<'blog'>) =>
	post.data.draft
		? {
				...post,
				data: { ...post.data, title: `(DRAFT) ${post.data.title}` },
		  }
		: post
)
---

<BaseLayout title="Blog | Luke Shafer">
	<main class="my-6 px-grow">
		<h1 class="text-center font-display text-5xl">Blog</h1>
		<ul class="flex w-full flex-wrap justify-center gap-8 p-4 py-10">
			{
				collection.map((post) => (
					<li class="w-96 items-center border-primary-400">
						<h2 class="font-subheading text-2xl font-medium">
							{post.data.title}
						</h2>
						<FormattedDate
							date={post.data.pubDate}
							class="w-max whitespace-nowrap opacity-70"
						/>
						<p class="px-2 pt-3">{post.data.description}</p>
						<Link>
							<a href={`/blog/${post.slug}/`} class="text-sm">
								Read more...
							</a>
						</Link>
					</li>
				))
			}
		</ul>
	</main>
</BaseLayout>
