---
import {getDateStr} from '../../utils/getDate'
type work = typeof import('../../data/resume.json').work;

export interface Props {
	jobs: work;
}

const { jobs } = Astro.props as Props;
---

<ul>
	{
		jobs.map((job) => (
			<li>
				<h4>
					{job.position}, {job.name}
				</h4>
				<div class="info">
					<address>{job.location}</address> |{' '}
					<time datetime={job.startDate}>{getDateStr(job.startDate)}</time>
					{" - "}<time datetime={job.endDate}>{getDateStr(job.endDate)}</time>
				</div>
				<ul class="bullet">
					{job.highlights.map((h) => (
						<li>{h}</li>
					))}
					<li>{job.technologies.join(", ")}</li>
				</ul>
			</li>
		))
	}
</ul>

<style>
	.bullet > li:last-child {
		opacity: 0.8;
	}
</style>
