---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from '@astrojs/image/components';
import Projects from '../components/portfolio/Projects.astro';
import Jobs from '../components/resume/Jobs.astro';

import { getDateStr } from 'src/utils/getDate';

import resume from '../data/resume.json';
---

<!-- EDIT DATA IN resume.json -->
<BaseLayout title="Resume | Luke Shafer">
	<div class='wrapper'>
		<header>
			<h1>{resume.basics.name}</h1>
			<h2>{resume.basics.label}</h2>
			<Image
				src={resume.basics.image}
				alt="My Headshot"
				aspectRatio={1}
				width={200}
			/>
		</header>
		<main>
			<section>
				<h3>Profile</h3>
				<p>{resume.basics.summary}</p>
			</section>

			<section>
				<h3>Experience</h3>
				<Jobs jobs={resume.work} />
			</section>

			<section>
				<h3>Projects</h3>
				<Projects projects={resume.projects}/>
			</section>
				
			<section>
				<h3>Education</h3>
				{resume.education.map((edu) => (
					<h4>{edu.studyType}, {edu.area}, {getDateStr(edu.endDate, true)}</h4>
					<div class="info">{edu.institution}</div>
				))}
			</section>
		</main>
		<aside>
			<section>
				<h3>Contact</h3>
				<address>
					<a href='tel:+16145853382'>614 - 585 - 3382</a>
					<a href={`mailto:${resume.basics.email}`}>{resume.basics.email}</a>
				</address>
			</section>
		</aside>
	</div>
</BaseLayout>

<style>
	.wrapper {
		max-width: 37rem;
		margin: auto;

		display: grid;
		grid-template-columns: 2fr 5fr;
		grid-template-rows: repeat(2, min-content);
		grid-auto-flow: dense;
		column-gap: sm;
	}

	header {
		grid-column: span 2;

		/* GRID */
		display: grid;
		grid-template-columns: 1fr min-content;
		grid-template-rows: repeat(2, min-content);
		grid-auto-flow: column;
		justify-content: space-between;
		align-items: end;
		row-gap: 2xs;

		--border: 5px solid rgba(primary.5, 0.5);
	}

	h1 {
		color: primary.8;
		@media (prefers-color-scheme: dark) {
			color: primary.1;
		}
		font-family: display;
		font-size: 3xl;
		font-weight: medium;
		letter-spacing: 1px;
	}

	h2 {
		align-self: start;
		grid-column: span 2;
		width: 100%;
		font-size: lg;

		/* DIVIDER-LINE */
		border-top: var(--border);
		padding-top: xs;
	}

	img {
		grid-row: span 2;
		justify-self: end;
		border: var(--border);
	}

	main {
		grid-column: 2;
	}

	section {
		/* margin-bottom: sm; */
		padding: xs 0;

		& :global(h3) {
			color: primary.6;
			@media (prefers-color-scheme: dark) {
				color: primary.3;
			}
			font-family: mono;
			font-weight: medium;
			font-size: lg;
			text-transform: uppercase;
			padding-bottom: sm;
		}

		& :global(h4) {
			color: primary.7;
			@media (prefers-color-scheme: dark) {
				color: primary.2;
			}
			font-weight: normal;
			font-size: default;
		}

		& :global(p, li) {
			font-size: sm;
		}

		& > :global(ul > li, p) {
			padding-bottom: 2xs;
		}

		& :global(.info) {
			font-size: xs;
			font-family: subheading;
			font-weight: light;

			& > :global(*) {
				display: inline-block;
			}
		}

		& :global(.bullet) {
			list-style-type: disc;
			padding: xs md;

			& :global(> li:last-child) {
				opacity: 0.7;
			}

		}

		& :global(a) {
			text-decoration: underline;
		}
	}

	aside > section {
		background-color: slate.1;
		@media (prefers-color-scheme: dark) { color: slate.8};
		padding: sm xs;

		& h3 {
			color: primary.7;
			@media (prefers-color-scheme: dark) { color: primary.2};
		}

		& address > a {
			font-style: normal;
			font-size: sm;
			text-underline-offset: 3px;

			&:hover {
				color: primary.9;
				@media (prefers-color-scheme: dark) { color: primary.1};
			}
		}
	}
</style>
