---
import BaseLayout from '../layouts/BaseLayout.astro';
import { projects } from '../data/projects';
---

<script>
	let isScrolling = true;

	const container: HTMLElement | null = document.querySelector('body > div');

	if (container) {
		container.addEventListener('scroll', () => {
			isScrolling = true;
		});

		const items: NodeListOf<HTMLLIElement> =
			document.querySelectorAll('h1 + ul > li');

		const activeTop = items[0] ? items[0].offsetTop - 10 : 0;
		const activeBottom = items[0] ? activeTop + items[0].offsetHeight + 10 : 0;

		setInterval(() => {
			if (isScrolling) {
				items.forEach((i) => {
					let top = i.offsetTop - container.scrollTop;
					let bottom = top + i.offsetHeight;
					if (top < activeBottom && bottom > activeTop)
						i.classList.add('active');
					else i.classList.remove('active');
				});

				isScrolling = false;
			}
		}, 100);
	}
</script>

<script is:inline></script>

<BaseLayout title="Portfolio | Luke Shafer">
	<div>
		<h1>My Portolio</h1>
		<ul>
			{
				projects.map((p) => (
					<li>
						<h2>{p.name}</h2>
						<time datetime={p.year}>{p.year}</time>
						{p.url ? <a href={p.url}>Website</a> : ''}
						{p.repo ? <a href={p.repo}>Repo</a> : ''}
						<ul>
							<li class="category">{p.category}</li>
							{p.tags.map((t) => (
								<li>{t}</li>
							))}
						</ul>
					</li>
				))
			}
		</ul>
	</div>
</BaseLayout>

<style>
	div {
		width: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		/* height: 70vh; */
		/* overflow: hidden; */
	}

	h1 {
		/* TEXT STYLE*/
		font-size: 5xl;
		font-family: display;
		text-align: center;

		/* POSITIONING */
		/* position: fixed; */
		/* width: 100%; */
		/* margin: auto; */
	}

	div > ul {
		padding: calc(25vh - xl) 0 45vh 0;
		/* height: */
		display: flex;
		flex-direction: column;
		gap: 3xl;

		/* SCROLL SNAPPING */
		/* overflow-y: scroll; */
		/* scroll-snap-type: y proximity; */

		& > li {
			/* SCROLL SNAPPING */
			scroll-snap-align: center;

			/* INNER LAYOUT */
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			gap: 2xs lg;
			transition: opacity 300ms, transform 300ms;
			transition-timing-function: quartic.out, quintic.out;

			opacity: 0.3;

			&:hover,
			&:focus-within,
			&.active {
				opacity: 1;
				transform: translateX(0.5rem);
			}
		}
	}

	h2 {
		/* TEXT STYLE */
		font-size: 4xl;
		font-family: display;
		font-weight: light;
	}

	time {
		font-family: subheading;
		opacity: 0.7;
		font-size: 3xl;
		color: cyan.4;
		@media (prefers-color-scheme: dark) {
			color: cyan.7;
		}
	}

	a {
		color: slate.3;
		@media (prefers-color-scheme: dark) {
			color: slate.7;
		}

		&:hover {
			color: inherit !important;
		}
	}

	li > ul {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		gap: 2xs sm;

		& li {
			font-family: mono;
			font-size: xs;

			padding: 2xs xs;
			background-color: slate.1;
			@media (prefers-color-scheme: dark) {
				background-color: slate.7;
			}

			&.category {
				background-color: cyan.8;
				color: slate.0;
				@media (prefers-color-scheme: dark) {
					background-color: cyan.3;
					color: slate.9;
				}
			}
		}
	}
</style>
