---
import { projects } from '../data/projects'
import BaseLayout from '../layouts/BaseLayout.astro'
import Icon from 'astro-icon'
---

<BaseLayout title="Projects | Luke Shafer">
	<main
		class="w-full relative flex px-grow my-12 flex-col gap-12 justify-center group">
		<h1
			class="text-5xl font-display text-center transition-opacity duration-300">
			My Projects
		</h1>
		<ul class="flex flex-col gap-10">
			{
				projects.map((project) => (
					<li class="flex snap-center flex-wrap items-center gap-x-6 gap-y-2 transition-all duration-500">
						<h2 class="font-display text-4xl font-light">{project.name}</h2>
						<div class="flex items-center gap-4">
							<time
								datetime={project.year}
								class="font-subheading text-3xl text-primary-600 opacity-70 dark:text-primary-300">
								{project.year}
							</time>
							{project.url ? (
								<a
									class="text-gray-400  hover:text-gray-900 dark:text-gray-600 hover:dark:text-gray-50"
									href={project.url}>
									<div class="flex justify-items-start gap-1">
										<Icon
											class="text-inherit h-4 w-4 self-center"
											name="fa-solid:link"
										/>
										<div class="m-0 h-full pt-1 underline">Link</div>
									</div>
								</a>
							) : (
								''
							)}
							{project.repo ? (
								<a
									class="text-gray-400  hover:text-gray-900 dark:text-gray-600 hover:dark:text-gray-50"
									href={project.repo}>
									<div class="flex gap-1">
										<Icon
											class="text-inherit h-4 w-4 self-center"
											name="fa-brands:git-alt"
										/>
										<div class="m-0 h-full pt-1 underline">GitHub</div>
									</div>
								</a>
							) : (
								''
							)}
						</div>
						<ul class="flex w-full flex-wrap gap-y-1 gap-x-2">
							<li class="bg-accent-600 py-1 px-2 font-mono text-xs text-gray-50 dark:bg-accent-300 dark:text-gray-900">
								{project.category}
							</li>
							{project.tags.map((t) => (
								<li
									class={`bg-gray-300 py-1 px-2 font-mono text-xs dark:bg-gray-600`}>
									{t}
								</li>
							))}
						</ul>
					</li>
				))
			}
		</ul>
	</main>
</BaseLayout>
