---
import { z } from 'zod'
import type { MDXLayoutProps } from 'astro'

import BaseLayout from './BaseLayout.astro'

// PROPS
const frontmatterSchema = z.object({
	title: z.string(),
	datePublished: z.string().regex(/[0-9]{4}(-[0-9]{1,2}){2}/g),
	author: z.string(),
	authorLink: z.string(),
})

const props = Astro.props as MDXLayoutProps<Record<string, unknown>>

const { title, author, authorLink, datePublished } = frontmatterSchema.parse(
	props.frontmatter
)
---

<BaseLayout title={title}>
	<article>
		<header>
			<h1 class="text-5xl font-display">{title}</h1>
			<div>
				<address>
					<a rel="author" href={authorLink} class="underline underline-offset-2"
						>{author}</a
					>
				</address>
				<time datetime={datePublished}>September 23, 2022</time>
			</div>
		</header>
		<main class="prose prose-h2:font-subheading prose-h2:font-normal">
			<slot />
		</main>
	</article>
</BaseLayout>

<style>
	article {
		display: grid;
		width: 100%;
		grid-template-columns: min(35rem, 100%);
		grid-auto-rows: min-content;
		justify-content: center;
		min-height: 100%;
		gap: 3xl;
	}

	header {
		display: grid;
		gap: sm;

		& div {
			font-family: subheading;
			font-weight: light;
			font-size: lg;
		}
	}

	h1 {
		font-size: 5xl;
	}

	main {
		display: grid;
		gap: sm;

		& :global(p) {
			text-indent: 2rem;
			line-height: 120%;
		}
	}
</style>
