---
import type { MDXLayoutProps } from 'astro'
import Link from '../components/Link.astro'
import { validateFrontmatter } from '../pages/blog/blogpost'

import BaseLayout from './BaseLayout.astro'

const props = Astro.props as MDXLayoutProps<Record<string, unknown>>
const validationResult = validateFrontmatter(props.frontmatter)
if (!validationResult.success) throw new Error('Invalid post')
const { title, authorLink, author, datePublished } = validationResult.data

/*return Astro.redirect('/')*/
---

<script>
	window.location.href = '/'
	// removing blog until i have better content written
</script>

<BaseLayout title={title}>
	<main
		class="justify-items-center gap-12 auto-rows-min px-grow max-w-5xl mx-auto pb-16">
		<header class="grid gap-2 pb-6">
			<h1 class="text-5xl font-display">{title}</h1>
			<div
				class="font-subheading font-light text-lg justify-self-end flex items-end">
				<time datetime={datePublished} class="opacity-80">
					Published {
						new Date(datePublished).toDateString().split(' ').slice(1).join(' ')
					}
				</time>
				<address>
					<Link><a rel="author" href={authorLink}>by {author}</a></Link>
				</address>
			</div>
		</header>
		<article
			class="mx-auto prose prose-p:text-base prose-h2:font-subheading prose-h2:font-normal dark:prose-invert prose-sky prose-p:leading-5">
			<slot />
		</article>
	</main>
</BaseLayout>
