---
import Caret from './Caret.astro';

export interface Props {
	href: string;
	active?: boolean;
	from?: boolean;
}

const { href, active, from } = Astro.props as Props;

const activeClass = active ? 'active' : '';
const fromClass = from ? 'from' : '';
---

<li>
	<a href={href} class={`${activeClass} ${fromClass}`} rel="prefetch"
		><Caret active={activeClass} from={fromClass} /><slot />
	</a>
</li>

<style>
	a {
		/* COLORS */
		color: inherit;
		&:hover {
			color: blue.9;
			@media (prefers-color-scheme: dark) {
				color: blue.1;
			}
		}

		/* FONT */
		font-family: mono;
		font-weight: light;
		&.active {
			font-weight: semibold;
			animation: activate 200ms forwards;
		}
		font-size: md;
		@media (min-width: 768px) {
			font-size: sm;
		}

		&.from {
			animation: activate 200ms reverse forwards;
		}
	}

	@keyframes activate {
		0% {
			font-weight: 300;
		}
		100% {
			font-weight: 600;
		}
	}
</style>
