---
import Caret from './Caret.astro';

export interface Props {
	href: string;
}

const { href } = Astro.props as Props;

const page = '/' + Astro.url.pathname.split('/')[1];
const referer = Astro.request.headers.get('referer');
let fromPage = '';
if (referer) {
	const url = new URL(referer ?? '');
	fromPage = url.pathname;
}

const active = href === page ? 'active' : '';
const from = href === fromPage ? 'from' : '';
---

<li>
	<a href={href} class={`${active} ${from}`} rel="prefetch"
		><Caret active={active} from={from} /><slot />
	</a>
</li>

<style>
	li,
	a {
		z-index: 1;
	}

	a {
		/* COLORS */
		color: inherit;
		&:hover {
			color: primary.9;
			@media (prefers-color-scheme: dark) {
				color: primary.1;
			}
		}

		/* FONT */
		font-family: mono;
		font-weight: light;
		&.active {
			font-weight: semibold;
			animation: activate 200ms forwards;
		}
		font-size: md;
		@media (min-width: 768px) {
			font-size: sm;
		}

		&.from {
			animation: activate 200ms reverse forwards;
		}
	}

	@keyframes activate {
		0% {
			font-weight: 300;
		}
		100% {
			font-weight: 600;
		}
	}
</style>
